#root {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  gap: 10px;
  color: white;
  height: 100vh;
  padding: 20px;
}

input[type="file"] {
  display: none;
}

h3 {
  text-align: center;
  color: #f36464 ;
}

.image {
  margin-top: 10px;
  border: none;
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  border-style: groove ;
  cursor: pointer;
  background-color: #f98a8a ;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.image:hover {
  font-weight: bold;
  color:burlywood;
  background-color: #f36464 ;
  padding: 15px 25px;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  transform: scale(0.08);
  -webkit-transform: scale(0.08);
  -moz-transform: scale(0.08);
  -ms-transform: scale(0.08);
  -o-transform: scale(0.08);
  box-shadow: 0px 0px 15px 2px rgba(243, 100, 100, 0.75);
}

.video {
  margin-top: 20px;
  border: none;
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  border-style: groove ;
  cursor: pointer;
  background-color: #f98a8a ;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.video:hover {
  font-weight: bold;
  color:burlywood;
  background-color: #f36464 ;
  padding: 15px 25px;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  transform: scale(0.08);
  -webkit-transform: scale(0.08);
  -moz-transform: scale(0.08);
  -ms-transform: scale(0.08);
  -o-transform: scale(0.08);
  box-shadow: 0px 0px 15px 2px rgba(243, 100, 100, 0.75);
}

.audio {
  margin-top: 20px;
  border: none;
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  border-style: groove ;
  cursor: pointer;
  background-color: #f98a8a ;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.audio:hover {
  font-weight: bold;
  color:burlywood;
  background-color: #f36464 ;
  padding: 15px 25px;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  transform: scale(0.08);
  -webkit-transform: scale(0.08);
  -moz-transform: scale(0.08);
  -ms-transform: scale(0.08);
  -o-transform: scale(0.08);
  box-shadow: 0px 0px 15px 2px rgba(243, 100, 100, 0.75);
}

.black {
  background-color: #000000 ;
  color: white ;
  border: none ;
  padding: 10px 20px ;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  cursor: pointer ;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}     

.black:hover {
  background-color: #000000 ;
  color: burlywood ;
  padding: 15px 25px ;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  box-shadow: 0px 0px 15px 2px rgba(74, 144, 226, 0.75);
}  

.red {
  background-color: red ;
  color: white ;
  border: none ;
  padding: 10px 20px ;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  cursor: pointer ;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.red:hover {
  background-color: red ;
  color: burlywood ;
  padding: 15px 25px ;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  box-shadow: 0px 0px 15px 2px rgba(243, 100, 100, 0.75);
}

.green {
  background-color: green ;
  color: white ;
  border: none ;
  padding: 10px 20px ;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  cursor: pointer ;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}   

.green:hover {
  background-color: green ;
  color: burlywood ;
  padding: 15px 25px ;
  border-radius: 10px ;
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -ms-border-radius: 10px ;
  -o-border-radius: 10px ;
  box-shadow: 0px 0px 15px 2px rgba(126, 211, 33, 0.75);
} 

body.red-bg {
  background-color: #f36464 ;
}   

body.black-bg {
  background-color: #011327 ;
}

body.green-bg {
  background-color: #7ed321 ;
}

button {
  margin: 10px;
}   

button:hover {
  transform: scale(1.1);
} 

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.9);
}

  